// Fonts
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

// Colors
$white: #fff;
$red: red;
$lightgray: lightgray;

$main-superlight: #F2FCF8;
$main-light: #F4F9F7;
$main-medium: #70ABAF;
$main-dark: #32292F;

$error: darkred;

// Breakpoints
$breakpoint-s: 350px;
$breakpoint-m: 500px;

// GENERAL
html {
  font-size: 62.5%;
}

body {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background: white;
  color: $main-dark;
}

h1 {
  text-align: center;
}

.wrapper {
  background-color: $white;
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 700px;
  box-shadow: 0 0 15px 5px $main-superlight;
}


/*
BUTTONS, INPUTS general
*/

button {
  cursor: pointer;
  border: none;
}
.disabled button {
  cursor: default;
}

input[type='search'] {
  border: none;
  color: $main-dark;
  box-sizing: border-box;
  font-size: 1.6rem;
  height: 35px;
  padding: 0 5px;
  min-width: 50px;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

// overlay provides background to masked svg icons used for buttons
.svg-overlay {
  box-sizing: border-box;
  height: 35px;
}
.svg-overlay:hover.hover {
  box-shadow: 0 0 5px 1px $main-medium;
}
.disabled.svg-overlay:hover.hover {
  box-shadow: none;
}

.svg-button {
  width: 35px;
  height: 35px;
  mask-size: contain;
  mask-repeat: no-repeat;
}
.svg-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  mask-size: contain;
  mask-repeat: no-repeat;
}
.empty-icon {
  width: 35px;
  height: 35px;
}


// BOXES GENERAL
.box {
  align-items: center;
  width: 95%;
  margin: 3rem auto 0 auto;
}
.box:first-of-type {
  margin-top: 0;
}
.city {
  padding: 0 5px;
}
.temp {
  padding-right: 5px;
}

// SEARCH BOX
.search-box {
  display: flex;
  box-sizing: border-box;
  border: 1px solid $main-medium;
  border-radius: 5px;
}
.search-box input[type='search'] {
  flex-grow: 1;
  // border radius matches box border radius to avoid overflow:hidden on box that prevents box-shadows
  border-radius: 5px;
}
.search-box .svg-overlay-search {
  background-color: $main-medium;
}
.search-box .svg-overlay-search.disabled{
  background-color: $lightgray;
}
.search-box .svg-button-search {
  mask-image: url('../img/search.svg');
  background-color: $white;
}
.search-box .svg-button-home {
  mask-image: url('../img/home.svg');
  background-color: $main-medium;
}
.search-box .svg-overlay-home.disabled .svg-button-home {
  background-color: $lightgray;
}

// CURRENT CITY BOX
.current-city {
  display: flex;
  box-sizing: border-box;
  border: 1px solid $lightgray;
  border-radius: 5px;
  align-items: center;
}
.current-city .svg-overlay-home {
  // border radius matches box border radius to avoid overflow:hidden on box that prevents box-shadows
  border-radius: 5px;
}
.current-city-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.current-city > span {
  color: $main-dark;
  flex-grow: 1;
  text-align: center;
}
.current-city .svg-icon-home,
.favorites-box .svg-icon-home {
  mask-image: url('../img/home.svg');
  background-color: $lightgray;
}
.weather-icon {
  width: 35px;
  height: 35px;
}
.current-city .svg-button-favorite-yes {
  mask-image: url('../img/heart-full.svg');
  background-color: $main-medium;
}
.current-city .svg-button-favorite-no {
  mask-image: url('../img/heart-outline.svg');
  background-color: $main-medium;
}

// FAVORITES BOX
.favorites-box {
  display: grid;
  grid-template-columns: 35px 2fr 50px 1fr 35px;
  margin-bottom: 3rem;
}
.favorites-box span {
  align-self: center;
}
.favorites-box .svg-overlay-delete:hover {
  box-shadow: 0 0 1px 0 $red;
}
.favorites-box .svg-button-delete {
  mask-image: url('../img/close.svg');
  background-color: $red;
}

.button-clear-favorites {
  font-size: 1.6rem;
  height: 35px;
  background-color: $white;
  color: $red;
  border: none;
}
.button-clear-favorites:hover {
  box-shadow: 0 0 5px 1px $main-light;
}

// ERROR BOX
.error-box {
  color: $error;
  padding: 0 5px;
}

@media screen and (min-width: $breakpoint-s) {
  .box {
    width: 80%;
  }
}

@media screen and (min-width: $breakpoint-m) {
  .box {
    width: 60%;
  }
}
